@model hw7.Models.ViewModels.UserRepoViewModel
@{
    ViewBag.Title = "GitHub Viewer";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-lg-4">
            <img src="@Html.DisplayFor(model => model.UserAvatarURL)" alt="User Avatar"/>
        </div>
        <div class="col-lg-8">
            <h1>
                <a style="" href="@Html.DisplayFor(model => model.UserHtmlUrl)">@Html.DisplayFor(model => model.PersonName)</a>
            </h1>
            <p>@Html.DisplayFor(model => model.Username)</p>
            <p>@Html.DisplayFor(model => model.UserEmail)</p>
            <p>@Html.DisplayFor(model => model.UserCompany)</p>
            <p>@Html.DisplayFor(model => model.UserLocation)</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Repositories</h2>
    </div>

</div>

<div class="row">
    @foreach (var item in Model.RepoInfos)
    {
        <div id="box" class="col-md-3">

            <div class="col-md-8">
                <p id="header">
                    <a href="@Html.DisplayFor(model => item.RepoName)" style="color: orange">@Html.DisplayFor(model => item.RepoHtmlUrl)</a>

                </p>
                <p>@Html.DisplayFor(model => item.Owner)</p>
                <p>@Html.DisplayNameFor(model => item.RepoLastUpdated) @Html.DisplayFor(model => item.RepoLastUpdated) Days ago</p>

            </div>
            <div class="col-md-4">
                <img id="repo" src="@Html.DisplayFor(model => item.OwnerAvatarURL)" alt="Owner Avatar" />
            </div>
        </div>

    }

</div>