
@{
    ViewBag.Title = "RGB";
}

<h2>RGB</h2>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Index", "RGB", FormMethod.Get))
        {
            <div class="form-group">
                @Html.Label("R", "Red: ")
                @Html.TextBox("intRed", null, new { @class = "form-control", type = "number", min = "0", max = "255" })

                @Html.Label("G", "Green: ")
                @Html.TextBox("intGreen", null, new { @class = "form-control", type = "number", min = "0", max = "255" })

                @Html.Label("B", "Blue: ")
                @Html.TextBox("intBlue", null, new { @class = "form-control", type = "number", min = "0", max = "255" })
                <input type="submit" value="Display" />
            </div>
        }

    </div>
    <div class="col-md-6">
        @if (ViewBag.Succes == true)
            {
             var Output = (IEnumerable<hw4.Controllers.RGBController.HexStruct>)ViewBag.HexColor;
            <div class="color-box" style="background-color: #000000">
                <p>@Output.ToString()p>
            </div>
        }


    </div>
</div>

