@model hw6.Models.ViewModel.StockItemDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StockItemDetailsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StockItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockItemSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockItemSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockItemPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockItemPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockItemWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockItemWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockItemLeadTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockItemLeadTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockItemDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockItemDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockItemOrigin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockItemOrigin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockItemTags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockItemTags)
        </dd>

    </dl>
</div>

