@model hw8.Models.RaceResult

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RaceResult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Athlete.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Athlete.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meet.DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meet.DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
