@model IEnumerable<hw8.Models.RaceResult>

@{
    ViewBag.Title = "View";
}

@{SelectList list = ViewBag.AthleteNameList;}
@{ IEnumerable<string> eventList = ViewBag.EventNameList;}
<h2>Results</h2>
<div class="form-group">
    <div class="col-lg-12">
        @using (Html.BeginForm("Results", "RaceResults", FormMethod.Get))
        {
            @Html.DropDownList("AID", list)
            <input type="submit" value="search" />
        }
    </div>
</div>

<table class="table table-striped" id="dataTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Meet.DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meet.LOCATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIME)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Meet.DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meet.LOCATION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIME)
            </td>
        </tr>
    }
</table>

@if (ViewBag.Success == true)
{

    <div class="row">
        <div class="col-lg-12">
            <form>
                @foreach (var item in eventList)
                {

                    <input type="button" value="@item" onclick="buildTable(@ViewBag.AthleteID, '@item');" />
                }
            </form>
        </div>
    </div>


}
<div class="row">
    <div class="col-lg-12">
        <div id="graph"></div>
    </div>

</div>



@section scripts {
    <script type="text/javascript" src="~/Scripts/main.js"></script>
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
}


